.daily,
.button-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    overflow: scroll;
}

.daily {
    padding-top: 1em;
    max-height: 87vh;
}

.daily-input {
    color: black;
}

@media (min-width: 700px) {
    .button-container {
        flex-direction: row;
        gap: 3em;
    }

    .daily-btn {
        width: 240px;
    }
}

@media (max-height: 700px) {
    .daily {
        gap: 1em;
    }

    .button-container {
        flex-direction: row;
        gap: 1em;
    }

    .daily-btn {
        width: 40vw;
    }
}
