.graph-container {
    display: grid;
    grid-template: 9vh 25vh / 25vw 25vw 25vw;
    gap: 1em;
}

.income-graph,
.spending-graph,
.balance-graph {
    width: 100%;
    grid-row: 2;
    align-self: end;
    animation: 1s 1 forwards graph-render;
}

@keyframes graph-render {
    from {
        height: 0%;
    }
}

.income-graph {
    background-color: #87cbb7;
    /* grid: 2 / 1; */
    grid-column: 1;
}

.spending-graph {
    background-color: #c13db7;
    grid-column: 3;
}

.balance-graph {
    background-color: #6500ad;
    grid-column: 2;
    height: 100%;
}

.graph-text {
    grid-row: 1;
    margin: 0;
}

.graph-date {
    margin: 0 0 1em 0;
}

@media (min-width: 700px) {
    .graph-container {
        grid-template-columns: 175px 175px 175px;
        gap: 2em;
    }
}
