.history {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    align-items: center;
    max-height: 90vh;
    overflow: scroll;
}

.title {
    margin: 0.75em 0 0 0;
}

.date-label {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 0.5em;
}

input {
    margin: 0.2em 0;
}

.date-error-msg {
    width: 70vw;
}

.shortcut-container {
    display: flex;
    gap: 1em;
}

.history-shortcut {
    cursor: pointer;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    width: auto;
    font-size: 1rem;
}

input[type="date"]:disabled {
    color: grey;
}

@media (min-width: 700px) {
    .graph-container {
        grid-template-columns: 150px 150px 150px;
        gap: 2em;
    }

    .date-label:last-child {
        margin-top: 1em;
    }
}
